<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equvi="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <title>imooc javascript practice</title>

        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <div id="box">
            <div class="top">
                <a href="#" title="列表模式" id="btn1" class="btn-list-off"></a>
                <a href="#" title="卡片模式" id="btn2" class="btn-car-on"></a>
            </div>
            <ul>
                <li>
                    <div class="con">
                        <a href="#" class="a-img">
                            <img src="/images/big.jpg" />
                        </a>
                        <p>
                            <a href="#">白阳</a>
                            <span>辽宁</span>
                            <span>21个共同好友</span>
                        </p>
                    </div>
                    <div class="bottom">
                        未分组好友
                    </div>
                </li>

                <li>
                    <div class="con">
                        <a href="#" class="a-img">
                            <img src="/images/big.jpg" />
                        </a>
                        <p>
                            <a href="#">白阳</a>
                            <span>辽宁</span>
                            <span>21个共同好友</span>
                        </p>
                    </div>
                    <div class="bottom">
                        未分组好友
                    </div>
                </li>

                <li>
                    <div class="con">
                        <a href="#" class="a-img">
                            <img src="/images/big.jpg" />
                        </a>
                        <p>
                            <a href="#">白阳</a>
                            <span>辽宁</span>
                            <span>21个共同好友</span>
                        </p>
                    </div>
                    <div class="bottom">
                        未分组好友
                    </div>
                </li>

                <li>
                    <div class="con">
                        <a href="#" class="a-img">
                            <img src="/images/big.jpg" />
                        </a>
                        <p>
                            <a href="#">白阳</a>
                            <span>辽宁</span>
                            <span>21个共同好友</span>
                        </p>
                    </div>
                    <div class="bottom">
                        未分组好友
                    </div>
                </li>

                <li>
                    <div class="con">
                        <a href="#" class="a-img">
                            <img src="/images/big.jpg" />
                        </a>
                        <p>
                            <a href="#">白阳</a>
                            <span>辽宁</span>
                            <span>21个共同好友</span>
                        </p>
                    </div>
                    <div class="bottom">
                        未分组好友
                    </div>
                </li>

                <li>
                    <div class="con">
                        <a href="#" class="a-img">
                            <img src="/images/big.jpg" />
                        </a>
                        <p>
                            <a href="#">白阳</a>
                            <span>辽宁</span>
                            <span>21个共同好友</span>
                        </p>
                    </div>
                    <div class="bottom">
                        未分组好友
                    </div>
                </li>
            </ul>
        </div>

        <script src="/javascripts/index.js"></script>
    </body>
</html>
